
MIFF Doco Shorts/.Rproj.user/05EF009A/explorer-cache/5baa0d7485c645ed93dd449683f9d7bb
MIFF Doco Shorts/.Rproj.user/05EF009A/pcs/files-pane.pper
MIFF Doco Shorts/.Rproj.user/05EF009A/pcs/source-pane.pper
MIFF Doco Shorts/.Rproj.user/05EF009A/pcs/windowlayoutstate.pper
MIFF Doco Shorts/.Rproj.user/05EF009A/pcs/workbench-pane.pper
MIFF Doco Shorts/.Rproj.user/05EF009A/rmd-outputs
MIFF Doco Shorts/.Rproj.user/05EF009A/saved_source_markers
MIFF Doco Shorts/.Rproj.user/05EF009A/sources/per/t/2B6EF0E9
MIFF Doco Shorts/.Rproj.user/05EF009A/sources/per/t/2B6EF0E9-contents
MIFF Doco Shorts/.Rproj.user/05EF009A/sources/per/t/B3C3AB65
MIFF Doco Shorts/.Rproj.user/05EF009A/sources/per/t/B3C3AB65-contents
MIFF Doco Shorts/.Rproj.user/05EF009A/sources/prop/5919BB23
MIFF Doco Shorts/.Rproj.user/05EF009A/sources/prop/INDEX
MIFF Doco Shorts/.Rproj.user/25B67C93/pcs/files-pane.pper
MIFF Doco Shorts/.Rproj.user/25B67C93/pcs/source-pane.pper
MIFF Doco Shorts/.Rproj.user/25B67C93/pcs/windowlayoutstate.pper
MIFF Doco Shorts/.Rproj.user/25B67C93/pcs/workbench-pane.pper
MIFF Doco Shorts/.Rproj.user/25B67C93/rmd-outputs
MIFF Doco Shorts/.Rproj.user/25B67C93/saved_source_markers
MIFF Doco Shorts/.Rproj.user/25B67C93/sources/per/t/0B6CF40E
MIFF Doco Shorts/.Rproj.user/25B67C93/sources/per/t/0B6CF40E-contents
MIFF Doco Shorts/.Rproj.user/25B67C93/sources/per/t/474590BD
MIFF Doco Shorts/.Rproj.user/25B67C93/sources/per/t/474590BD-contents
MIFF Doco Shorts/.Rproj.user/25B67C93/sources/per/t/810C04C5
MIFF Doco Shorts/.Rproj.user/25B67C93/sources/per/t/810C04C5-contents
MIFF Doco Shorts/.Rproj.user/25B67C93/sources/prop/462F2477
MIFF Doco Shorts/.Rproj.user/25B67C93/sources/prop/694167D2
MIFF Doco Shorts/.Rproj.user/25B67C93/sources/prop/AAE70C72
MIFF Doco Shorts/.Rproj.user/25B67C93/sources/prop/INDEX
MIFF Doco Shorts/.Rproj.user/98062788/pcs/files-pane.pper
MIFF Doco Shorts/.Rproj.user/98062788/pcs/source-pane.pper
MIFF Doco Shorts/.Rproj.user/98062788/pcs/windowlayoutstate.pper
MIFF Doco Shorts/.Rproj.user/98062788/pcs/workbench-pane.pper
MIFF Doco Shorts/.Rproj.user/98062788/rmd-outputs
MIFF Doco Shorts/.Rproj.user/98062788/saved_source_markers
MIFF Doco Shorts/.Rproj.user/98062788/sdb/per/t/5A3EBF7D
MIFF Doco Shorts/.Rproj.user/98062788/sdb/per/t/6D3B4C5D
MIFF Doco Shorts/.Rproj.user/98062788/sdb/per/t/A4564D9E
MIFF Doco Shorts/.Rproj.user/98062788/sdb/prop/1A84C64F
MIFF Doco Shorts/.Rproj.user/98062788/sdb/prop/INDEX
MIFF Doco Shorts/.Rproj.user/98062788/session-persistent-state
MIFF Doco Shorts/.Rproj.user/98062788/viewer-cache/293C51B9.Rdata
MIFF Doco Shorts/.Rproj.user/98062788/viewer-cache/33228465.Rdata
MIFF Doco Shorts/.Rproj.user/shared/notebooks/patch-chunk-names
MIFF Doco Shorts/.Rproj.user/shared/notebooks/paths
